@model IEnumerable<AppVendasWeb.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1 class="display-5 text-dark my-5">Categoria do Produto</h1>

<p>
    <a asp-action="Create" class="btn btn-lg btn-outline-dark d-inline-flex align-items-center">
        <svg class="me-3" bootstrap-icon="PlusLg" width="16" height="16" aria-label="Alarms"></svg>Adicionar
    </a>
</p>
<table class="table  table-hover" style="background:#50623A; color:white">
    <thead style="background:#789461">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaName)

            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaName)
                </td>
                <td>
                    <a class=" text-light text-decoration-none" asp-action="Edit" asp-route-id="@item.CategoriaId">
                        <svg class="mx-3" bootstrap-icon="PencilFill" width="24" height="24" aria-label="PencilFill"></svg>

                    </a>|
                    <a class=" text-light text-decoration-none" asp-action="Details" asp-route-id="@item.CategoriaId">
                        <svg class="mx-3" bootstrap-icon="CardText" width="24" height="24" aria-label="CardText"></svg>

                    </a>|

                    <a class=" text-light text-decoration-none" asp-action="Delete" asp-route-id="@item.CategoriaId">
                        <svg class="mx-3" bootstrap-icon="Trash" width="24" height="24" aria-label="PencilFill"></svg>

                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
