@model IEnumerable<AppVendasWeb.Models.Cliente>

@{
    ViewData["Title"] = "Cliente";
}

<h1 class="display-5 text-light my-5 text-dark">Cadastro Novo Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-lg btn-outline-dark d-inline-flex align-items-center">
        <svg class="me-3" bootstrap-icon="PlusLg" width="16" height="16" aria-label="Alarms"></svg>Adicionar
    </a>
</p>

<div class="table-responsive">

    <table class="table table-hover" style="background:#50623A; color:white">
        <thead style="background:#789461">
            <tr>
                <th class="hqqq">
                    @Html.DisplayNameFor(model => model.ClienteNome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>


                <th>

                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClienteNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>


                    <td class="text-end">
                        <a class="text-decoration-none" asp-action="Edit" asp-route-id="@item.ClienteId">
                            <svg class="mx-3" bootstrap-icon="PencilFill" width="24" height="24" aria-label="PencilFill"></svg>

                        </a> |
                        <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.ClienteId">
                            <svg class="mx-3" bootstrap-icon="CardText" width="24" height="24" aria-label="CardText"></svg>

                        </a> |
                        <a class="text-decoration-none" asp-action="Delete" asp-route-id="@item.ClienteId">
                            <svg class="mx-3" bootstrap-icon="Trash" width="24" height="24" aria-label="PencilFill"></svg>

                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
